includes:
    - vendor/odinns/coding-style/config/phpstan.neon
    - vendor/odinns/phpstan-pest-this/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    pestClosureThisTypeMap:
        -
            pathContains: '/tests/'
            class: Golded\Ftn\Squish\Tests\TestCase
